.projectContainer {
    width: 100%;
    max-width: calc(var(--max-width) + 20px);
    margin: auto;
    padding: 80px 20px;
}
.projectContainer > h2 {
    color: var(--theme-lightblue);
    font-size: 38px;
    margin-bottom: 20px;
}
.projectContainer > section {
    margin-bottom: 25px;
    display: flex;
    gap: 10px;
}
.projectContainer > section > button {
    width: fit-content;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    font-size: 15px;
}
.projectContainer > div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
}
.projectContainer > div > article {
    height: fit-content;
}
.projectContainer > div > article > div {
    width: 100%;
    max-width: 382px;
    height: 360px;
    border-radius: 10px;
    padding: 24px;
    overflow: hidden;
    background: #202127;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.projectContainer > div > article > div > img {
    border-radius: 10px;
    height: 170px;
}
.projectContainer > div > article > div > div {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.projectContainer > div > article > div > div > h3 {
    font-size: 17px;
    color: #fffff5db;
}
.projectContainer > div > article > div > div > p {
    font-size: 14px;
    color: #ebebf599;
    line-height: 20px;
}
.projectContainer > div > article > div > div > div {
    display: flex;
    gap: 10px;
}
.linkBtn {
    background-color: #65758529;
    border: none;
    outline: none;
    color: #fffff5db;
    padding: 5px 8px;
    font-size: 13px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}
@media screen and (max-width: 1265px) {
    .projectContainer > div {
        justify-content: center;
    }   
    .projectContainer > div > article > div {
        max-width: 382px;
        height: 360px;
        gap: 30px;
    }
    .projectContainer > div > article > div > img {
        border-radius: 10px;
        height: 250px;
    }
    .projectContainer > h2 {
        font-size: 32px;
        text-align: center;
    }
}
@media screen and (max-width: 960px) {
    .projectContainer > div {
        justify-content: center;
    }   
    .projectContainer > div > article > div {
        max-width: 482px;
        height: 460px;
        gap: 30px;
    }
    .projectContainer > div > article > div > img {
        border-radius: 10px;
        height: 250px;
    }
    .projectContainer > h2 {
        font-size: 32px;
        text-align: center;
    }
}
@media screen and (max-width: 480px) {
    .projectContainer > div > article > div {
        max-width: 482px;
        height: fit-content;
    }
    .projectContainer > div > article > div > img {
        height: 180px;
    }
}