.intro {
    max-width: 1300px;
    margin: 7rem auto 0 auto;
}
.pre-phrase {
    font-size: 1rem;
    font-weight: 700;
    /* color: var(--color2); */
    padding-bottom: 2rem;
    background: linear-gradient(to right, #D4A353 0%, #1B1B2A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: red;
}
.intro > h1 {
    font-size: 3.5rem;
    color: var(--color4);
    line-height: 5rem;
}
.name-top {
    background: linear-gradient(to right, #D4A353 0%, #1B1B2A 100%);
  /* Mask the color to the text, and remove the rest  */
  -webkit-background-clip: text;
  /* Make the text fill color value transparent so the masked background color comes through */
  -webkit-text-fill-color: transparent;
}
.intro-preface {
    color: var(--color6);
    line-height: 1.7rem;
    max-width: 800px;
}

@media only screen and (max-width: 480px) {
    .intro {
        max-width: 480px;
        padding: 1.5rem;
    }
    .intro > h1 {
        font-size: 3rem;
        color: var(--color4);
        line-height: 4rem;
        margin-bottom: 1rem;
    }
}