.portfolio-section {
    max-width: 1300px;
    margin: 9rem auto;
}
.port-container {
    margin-top: 2.5rem;
}
.port-box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.8rem;
}
.port-boxes {
    width: 410px;
    height: 450px;
    background: var(--color5);
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 5px;
    box-shadow: 0px 0px 50px #000000;
    transition: .5s ease-in-out;
    cursor: pointer;
}
.port-boxes:hover{
    transform: scale(1.05);
    transition: .5s ease-in-out;
}
.port-boxes > div:nth-child(1) {
    height: 60%;
}
.port-boxes > div:nth-child(2) {
    text-align: center;
    padding: 0px 15px;
}
.port-boxes > div:nth-child(2) h3 {
    color: var(--color4);
    margin-bottom: 7px;
    font-weight: normal;
}
.port-boxes > div:nth-child(2) p {
    font-size: .9rem;
    color: var(--color9);
}
.port-boxes > div:nth-child(3) {
    padding: 10px 10px 20px 10px;
    text-align: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.port-boxes > div:nth-child(3) button {
    padding: 4px;
    font-size: .5rem;
    border: none;
    color: var(--color3);
    border: 1px solid var(--color3);
    background: none;
}
.port-boxes img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 480px)  {
    .portfolio-section {
        max-width: 100%;
        margin: 5rem auto;
        padding: 1.2rem;
    }
    .port-box-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1.8rem;
        flex-direction: column;
        align-items: center;
    }
.port-boxes {
    width: 100%;
    height: 400px;
    max-width: 350px;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 5px;
    transition: .5s ease-in-out;
}
}