.navigation {
  height: 60px;
  width: 95%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
  padding: 1rem 0rem;
  background-color: inherit;
  color: black;
  position: sticky;
  top: 0;
  z-index: 100;
background: rgba(0, 0, 0, 0);
border-radius: 16px 16px 0 0;
box-shadow: 0 40px 100px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
}
.brand-name {
  text-decoration: none;
  color: var(--color6);
  font-size: 1.3rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  gap: .5rem;
}
.gold {
    color: var(--color2);
}
.navigation-menu {
  margin-left: auto;
}
.navigation-menu ul {
    display: flex;
    padding: 0;
    gap: 5rem;
    color: var(--color6);
  }
  .navigation-menu li {
    list-style-type: none;
  }
  .navigation-menu li:hover {
    color: var(--color2);
  }
  .navigation-menu li a {
    text-decoration: none;
    display: block;
    width: 100%;
  }
  .hamburger {
    border: 0;
    height: 60px;
    width: 60px;
    padding: 0rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    display: none;
    color:white;
    background: none;
    font-size: 2rem;
  }

  @media screen and (max-width: 1024px) {

  }
  @media screen and (max-width: 768px) {
    .hamburger {
      display: block;
    }
    .navigation {
      height: 60px;
      width: 100%;
    }
    .navigation-menu ul {
        display: none;
      }
      .navigation-menu ul {
        position: absolute;
        top: 60px;
        left: 0;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        border-top: 1px solid black;
        background: var(--bg-color2);
      }
      .navigation-menu li {
        text-align: center;
        margin: 0;
        border-bottom: 1px solid rgb(73, 73, 73);
      }
      .navigation-menu li:last-child {
        border-bottom: none;
      }
      .navigation-menu li a {
        color: var(--color6);
        width: 100%;
        padding: 1.5rem 0;
      }
      .navigation-menu li a:hover {
        color: var(--color6);
        width: 100%;
        padding: 1.5rem 0;
        color: black;
      }
      .navigation-menu li:hover {
        background-color: #eee;
      }
      .navigation-menu.expanded ul {
        display: block;
      }
  }