.contact-container {
    display: flex;
    max-width: 1300px;
    margin: 9rem auto;
    justify-content: space-between;
    align-items: center;
    background: var(--color5);
    padding: 4rem;
    border-radius: 1rem;
}
.contact-container > div:nth-child(1) {
    max-width: 40%;
}
.contact-container > div:nth-child(1) h2 {
    color: var(--color8);
    font-size: 3rem;
    margin-bottom: 1rem;
}
.contact-container > div:nth-child(1) p {
    color: var(--color9);
    font-size: 1rem;
}
.contact-container > div:nth-child(2) {
    width: 50%;
}

@media only screen and (max-width: 480px) {
    .contact-container {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        margin: 5rem auto;;
        padding: 4rem;
        border-radius: 0;
        flex-direction: column;
        padding: 4rem 2rem;
        gap: 4rem;
    }
    .contact-container > div:nth-child(1) {
        max-width: 100%;
    }
    .contact-container > div:nth-child(1) h2 {
        color: var(--color4);
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .contact-container > div:nth-child(1) p {
        color: var(--color6);
        font-size: 1rem;
    }
    .contact-container > div:nth-child(2) {
        width: 100%;
    }
}