.intro {
    max-width: 1300px;
    margin: 7rem auto 0 auto;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.intro-container {
    max-width: 1070px;
    padding: 50px 80px;
}
.intro-text {
    font-size: 3.5rem;
    color: white;
    margin-bottom: 1.5rem;
}
.intro-preface {
    color: var(--color6);
    margin-bottom: 1rem;
}
.icon-container {
    display: flex;
    gap: 1rem;
    max-width: fit-content;
    margin: auto;
    text-align: center;
}
.icons {
    border: 2px solid grey;
    color: grey;
    border-radius: 100px;
    font-size: 20.8px;
    height: 45px;
    line-height: 1;
    line-height: 45px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    padding: 10px;
    transition: .5s ease-in-out;
}
.icons:hover {
    border: 2px solid crimson;
    color: crimson;
}
@media only screen and (max-width: 480px) {
    .intro-container {
        padding: 50px 16px;
    }
    .intro-text {
        font-size: 42.5px;
        color: white;
        margin-bottom: 1.5rem;
    }
    .icons {
        font-size: 18px;
        height: 40px;
        line-height: 40px;
        width: 40px;
        padding: 10px;
    }
}