@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root {
    --bg-color1:#111;
    --bg-color2:#202020;
    --color0:#1B1B2A;
    --color1:#dc143c;
    --color2:crimson;
    --color3:grey;
    --color4:rgb(238, 238, 238);
    --color5:#202020;
    --color6:lightgrey;
    --color7:dimgrey;
    --color8:rgb(238, 238, 238);
    --color9:darkgrey;
}
/* width */
:root {
    --max-width: 1300px;
}
/* colors */
:root {
    --theme-purple: #bd34fe;
    --theme-lightblue: #4b6cff;
    --theme-dimwhite: #ebebf599;
    --theme-light: #fffff5db;
    --theme-dimLight: #ebebf599;
    --theme-dark: #32363f;
    --theme-darkBlack :#131314;
    --theme-darkBg: #1b1b1f;
}


*, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
body {
    background: var(--theme-darkBg);
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
ul {
    list-style: none;
}
img {
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
}
a {
    text-decoration: none;
    color: inherit;
}
p {
    font-weight: 300;
}
.blue {
    color: blue;
}
.dodgerblue {
    color: dodgerblue;
}
.red {
    color: crimson;
}
.yellow {
    color: yellow;
}
