footer {
    margin-top: 1rem;
    padding: 2rem 0 3rem 0;
    background: none;
    color: var(--color6);
    text-align: center;
    font-weight: 300;
}
footer h2 {
    font-weight: 300;
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
footer > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.2rem;
    transition: .5s ease-in-out;
}
footer > div > a:hover, a:active {
    color: var(--color2);
    transition: .5s ease-in-out;
}

@media only screen and (max-width: 480px) {
    footer h2 {
        font-size: 1rem;
    }
    footer > div {
        font-size: 1rem;
    }
}